.section-requisicion{
    background-color: var(--color-white);
    padding: 1rem;
    width: 100%;
}
.section-requisicion h1{
    background-color: var(--color-blue-dark);
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 100;
}
.section-froms{
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}
.frm-buscarProducto label{
    color: var(--color-blue-dark);
    display: inline-block;
    width: 50%;
    margin: 0 0 1rem 0 ;
}

.frm-buscarProducto{
    width: 48%;
}
.frm-orden{
    width: 48%;
    padding: 1rem;
}
.btn-filtra{
    background-color: var(--color-blue-dark);
    width: 40%;
    height: 1.5rem;
    color: var(--color-white);
}